[WebhookSettings]
HAurl =  https://homeAssistant.url
username = teamsUserID #NoLongerUsed, left for potential future enhancement. 
token = HOMEAssistantToken
logfolder = %%localappdata%%\Packages\MSTeams_8wekyb3d8bbwe\LocalCache\Microsoft\MSTeams\Logs

[LanguageSettings]
Available = Available
Busy = Busy
OnThePhone = On the phone
Away = Away
BeRightBack = Be right back
DoNotDisturb = Do not disturb
Presenting = Presenting
Focusing = Focusing
InAMeeting = In a meeting
Offline = Offline
NotInACall = Not in a call
InACall = In a call

[IconSettings]
InACall = mdi:phone-in-talk-outline
NotInACall = mdi:phone-off
Monitoring = mdi:api

[EntitySettings]
entityStatus = sensor.teams_status
entityStatusName = Microsoft Teams status
entityActivity = sensor.teams_activity
entityActivityName = Microsoft Teams activity
entityHeartbeat = binary_sensor.teams_monitoring
entityHeartbeatName = Microsoft Teams monitoring

[DebugSettings]
enabled = yes
log_file_path = debug.log
max_size_mb = 5
backup_count = 3
rotate_interval_hours = 3

